package ${package_name}.service.impl;

import com.javalow.common.annotation.BaseService;
import com.javalow.common.base.BaseServiceImpl;
import ${package_name}.mapper.${model}Mapper;
import ${package_name}.entity.${model};
import ${package_name}.entity.${model}Example;
import ${package_name}.service.${model}Service;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

/**
* @Description: (TODO:${model}Service实现)
* @author: Satellite
* @ClassName:  ${model}ServiceImpl
* http://www.javalow.com
* @time: ${ctime}
*/
@Service
@Transactional
@BaseService
public class ${model}ServiceImpl extends BaseServiceImpl<${model}Mapper, ${model}, ${model}Example> implements ${model}Service {

    private static Logger _log = LoggerFactory.getLogger(${model}ServiceImpl.class);

    @Autowired
    ${model}Mapper ${mapper}Mapper;

}